@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i&display=swap');

* {
    font-family: 'ABeeZee', 'sans-serif';
    color: white;
}
body {
    background-color: #171717
}

h1 {
    font-size: 100px;
    margin: 0px;
}
.fire {
    background: -webkit-linear-gradient(left, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    border-radius: 50%;
    width: 50px;
}

.center {
    text-align: center;
}

.made-with {
    margin: 0px;
}


input[type=text] {
    color: black;
}
input{
    width:75%;
    border-radius: 30px;
}

form {
    text-align: center;
    margin: 50px;
}

.response {
    color: rgb(255, 68, 68);
}

input[placeholder] {
    font-size: 50px;
    text-align: center;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}